.leftBarButton {
    width: 30px;
    height: 30px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 1rem;
    margin-left: 1rem;
}

.mainMenu {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;

}


